.container{
    background-color: #222222;
    width: 800px;
    height: 500px;
    margin: auto;
    color: #ffffff;


}



.stat-container{
    background-image: url("../styles/images/fftbg.gif");
    height: 100px;
    width: 764px;
    border:3px #635142 solid;
    border-bottom: 3px #423121 solid;
    padding: 15px;

}

.base-stat{
    margin-bottom: 8px;

}
.ext-input{
    float: right;
}

.stat-box-bar{
    width: 217px;
    float: left;

}
.stat-box-movment{
     width: 207px;

 }

.stat-box-atk{
    width: 80px;

}

.stat-box-base-container{
    width: 195px;
    float: left
}

.stat-box-atk-container{
    float: left;
    width: 100px;
    margin-left: 15px;
}

/*
* Job Image Sprite sheet
*/
.squire-male, .chemist-male, .knight-male, .archer-male, .squire-female, .chemist-female, .knight-female, .archer-female{
    background-image: url('../styles/images/fftjobs.jpg');
    background-repeat: no-repeat;
}

.squire-male{
    width:73px;
    height: 116px;
    background-position: 0px  0px;

}
.chemist-male{
    width:73px;
    height: 116px;
    background-position: -219px  0px;
}
.knight-male{
    width:73px;
    height: 116px;
    background-position: 0px  -232px;
}
.archer-male{
    width:73px;
    height: 116px;
    background-position: 0px  -116px;
}


.squire-female{
    width:73px;
    height: 116px;
    background-position: -511px  0px;

}
.chemist-female{
    width:73px;
    height: 116px;
    background-position: -730px  0px;
}
.knight-female{
    width:73px;
    height: 116px;
    background-position: -511px  -232px;
}
.archer-female{
    width:73px;
    height: 116px;
    background-position: -511px  -116px;
}

