.container{
    background-color: #222222;
    width: 800px;
    height: 500px;
    margin: auto;
    color: #ffffff;


}



.stat-container{
    background-image: url("../styles/images/fftbg.gif");
    height: 100px;
    width: 764px;
    border:3px #635142 solid;
    border-bottom: 3px #423121 solid;
    padding: 15px;

}

.base-stat{
    margin-bottom: 8px;

}
.ext-input{
    float: right;
}

.stat-box-bar{
    width: 217px;
    float: left;

}
.stat-box-movment{
     width: 207px;

 }

.stat-box-atk{
    width: 80px;

}

.stat-box-base-container{
    width: 195px;
    float: left
}

.stat-box-atk-container{
    float: left;
    width: 100px;
    margin-left: 15px;
}

/*
* Job Image Sprite sheet
*/
.squire-male, .chemist-male, .knight-male, .archer-male, .squire-female, .chemist-female, .knight-female, .archer-female ,.monk-female,  .geomancer-female, .oracle-female, .summoner-female, .theif-female, .ninja-female, .blackmage-female, .timemage-female, .calculator-female, .mime-female, .lancer-female, .samurai-female, .preist-female, .medieator-female, .dancer-female, .monk-male ,  .geomancer-male , .oracle-male .summoner-male , .thief-male , .ninja-male , .wizard-male , .timeMage-male , .calculator-male , .mime-male, .lancer-male, .samurai-male, .priest-male, .medieator-male, .bard-male {
    background-image: url('../styles/images/fftjobs.jpg');
    background-repeat: no-repeat;
}

.squire-male{
    width:73px;
    height: 116px;
    background-position: 0px  0px;

}
.chemist-male{
    width:73px;
    height: 116px;
    background-position: -219px  0px;
}
.knight-male{
    width:73px;
    height: 116px;
    background-position: 0px  -232px;
}
.archer-male{
    width:73px;
    height: 116px;
    background-position: 0px  -116px;
}


.monk-male{
    width:73px;
    height: 116px;
    background-position: -74px  0px;
}
.geomancer-male{
    width:73px;
    height:116px;
    background-position: -147px 0px;
}
.oracle-male{
    width:73px;
    height:116px;
    background-position: -292px 0px;
}
.summoner-male{
    width:73px;
    height:116px;
    background-position: -365px 0px;
}
.thief-male{
    width:73px;
    height:116px;
    background-position: -74px -117px;
}
.ninja-male{
    width:73px;
    height:116px;
    background-position: -147px -117px;
}
.wizard-male{
    width:73px;
    height:116px;
    background-position: -219px -117px;
}
.timeMage-male{
    width:73px;
    height:116px;
    background-position: -292px -117px;
}
.calculator-male{
    width:73px;
    height:116px;
    background-position: -365px -117px;
}
.mime-male{
    width:73px;
    height:116px;
    background-position: -438px -117px;
}
.lancer-male{
    width:73px;
    height:116px;
    background-position: -74px -232px;
}
.samurai-male{
    width:73px;
    height:116px;
    background-position: -147px -232px;
}
.priest-male{
    width:73px;
    height:116px;
    background-position: -219px -232px;
}
.mediator-male{
    width:73px;
    height:116px;
    background-position: -292px -232px;
}
.bard-male{
    width:73px;
    height:116px;
    background-position: -365px -232px;
}



.monk-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}
.geomancer-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}
.oracle-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}
.summoner-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}
.theif-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}
.ninja-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}
.blackmage-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}
.timemage-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}
.calculator-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}
.mime-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}
.lancer-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}
.samurai-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}
.preist-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}
.medieator-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}
.dancer-female{
    width:73px;
    height:116px;
    background-position: 0px 0px;
}



.squire-female{
    width:73px;
    height: 116px;
    background-position: -511px  0px;

}
.chemist-female{
    width:73px;
    height: 116px;
    background-position: -730px  0px;
}
.knight-female{
    width:73px;
    height: 116px;
    background-position: -511px  -232px;
}
.archer-female{
    width:73px;
    height: 116px;
    background-position: -511px  -116px;
}

